/* ///google font styles/// */


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    font-variation-settings:
        "wdth" 100;

}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}


/* ///shared style/// */

.flex {
    display: flex;
}

.banner-para-color {
    color: rgba(0, 0, 0, 0.5);
}

.banner-title {
    font-size: 65px;
    color: rgba(0, 0, 0, 1);
}

.text-font {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}


.descript {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}


.color-w1 {
    color: rgba(255, 255, 255, 1);
}


.orange-background {
    background-color: rgba(233, 90, 8, 1);
}

.orange-text {
    color: rgba(233, 90, 8, 1);
}

/* .margin-down{
    margin-bottom: 120px;
} */


/* /// body styles /// */
.navbar {
    justify-content: space-around;
    align-items: center;
    margin-left: 750px;
    margin-right: 750px;

}


.navbar a {
    text-decoration: none;
    list-style: none;
    color: rgba(137, 135, 161, 1);
}


.list-item {
    list-style: none;
    margin-right: 48px;
    color: black;
}

.list-i {
    list-style: none;
}



/* //display section// */

.display-title {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.pera-text {
    font-size: 22px;
}

.grand-mom {
    text-align: center;
    margin-bottom: 100px;
}


.button-detail {
    font: 16px;
    border: none;
    padding: 19px 85px;
    color: rgba(255, 255, 255, 1);

}

.card {
    margin-bottom: 30px;
}

.card-description {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
    padding: 0px;
    align-items: center;
    margin-left: 370px;
    margin-right: 370px;
    margin-bottom: 30px;

}



/* ///banner styles/// */

.banner {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.banner-mom {
    padding-top: 162px;
}

.banner-image {
    padding-top: 106px;
    padding-bottom: 50px;
}

.ban {
    margin: 0px;
    padding: 0px;
}

.bn {
    margin: 0px;
    padding: 0px;
}

/* //latest  part /// */
.latest-part {
    text-align: center;
    margin: 125px 0px;
}



/* /// offer card style /// */

.flower-offer {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 150px;
}

.flowercard {

    height: 130px;
    width: 367px;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    /* justify-content: center;
      vertical-align: middle; */
    padding-top: 65px;
    margin-bottom: 25px;
}

.flower-h3 {}

..flower-h3 {}

.flowercard-1 {
    background-image: url(../assets/deal-bloom.png);
}

.flowercard-2 {
    background-image: url(../assets/deal-ana.png);
}

.flower-right {
    background-image: url(../assets/deal-zabo.png);
    width: 680px;
    height: 280px;
    padding-top: 170px;

}


/* /// Flower & Plants Lover style /// */

.Plants-Lover {
    justify-content: center;
    margin: 0 150px;
    margin-bottom: 150px;
    margin-top: 150px;

}

.plant-pera {
    padding-left: 30px;
    padding-top: 86px;
}

.badge img {
    height: 286px;
    width: 286px;
    transform: rotate(360deg);
    position: absolute;
    /* padding-right: 1150px; */
    left: 360px;
    /* margin-bottom: 50px; */
    top: -140px;
    /* right: 200px; */

}

.image-mom {
    position: relative;
}

.badge {
    transform: rotate(360 deg);
}

/* /// Search section/// */
.search-section{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 200px 0px;
}
.search-section div{
    display: flex;
    flex-direction: row;
    width: 700px;
}



/* // Footer Section /// */

.footer{
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;   
    padding: 50px 0px;
    gap: 110px;
}
.footer-no-1{
    max-width: 359px;
}


.footer-no-2, .footer-no-3{
    flex-direction: column;
    gap: 32px;
    color: rgba(107, 114, 128, 1);
    font-size: 1rem;
}

.footer-no-4{
    /* align-items: center; */
    gap: 24px;
}



@media screen and (max-width: 576px) {

    .list-item {
        visibility: hidden;
        justify-content: space-evenly;
        margin-right: 40px;
    }

    .list-i {
        display: inline;
    }

    .navbar {
        margin: 0px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-mom {
        padding-left: 10px;
    }

    .latest-part {
        justify-content: center;
        padding-left: 40px;
        margin-bottom: 100px;
    }

    /* //flower card// */

    .flower-offer {
        flex-direction: column;
        width: 360px;
        height: 206px;
        justify-content: unset;
    }

    .flower-right {
        width: 360px;
        height: 160px;
        text-align: center;
        padding-bottom: 30px;
    }

    .Plants-Lover {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 700px;
        max-width: 100%;
        margin-right: 0px;
    }

    .badge {
        visibility: hidden;
    }

    .plant-pera {
        padding: 0px;
        width: 700px;
    }



    .pera-text {
        font-size: 14px;
    }

    .card-container {
        margin-left: 0px;
        margin-right: 0px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .display-mom {
        text-align: center;
        /* width: 393px; */
        /* align-items: center; */
        /* padding-left: 150px; */
        margin: 0 auto;
    }

    .display-title,
    .noto-serif {
        font-size: 40px;
        text-align: center;
    }

    .pera-text,
    .inter {
        font-size: 24px;
        text-align: center;

    }



}